<div id="page">
<h3 align=center>Recurring Payment Profile Details</h3>  
<%= javascript_include_tag 'creditcard' %>

<%=  form_tag (doRPdetails_path, :method=>'post', :multipart => true, :id =>'rpDetailsForm', :name => 'rpDetailsForm') do %>
<%= hidden_field_tag 'PAYMENTACTION', @payment_action %>
<table align="center">
<tr>
<td>

    <td><label for="profileID">Profile ID:</label></td>
<td><%= text_field_tag( "profileID", value = @profileId,:size => 30, :maxlength => 32) %>(Required)</td>   
</tr>

<tr><td></td><td></td></tr>
<tr>
    <td></td><td><%= submit_tag('Submit')%></td> 
</tr>
    <%end -%> 
</table>
<b><%= link_to "Recurring Payments Home", {:controller =>"recurringpayment", :action => "RPlinks"}, :id => 'RPLink' %></b>
</div>

